.section {
    font-family: Bungee, cursive;
    padding: 5px;
    margin: 1px;
}

.btn.section:focus {
  outline: none;
}

.game-loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: transparent;
}

.game-loader__btn {
  position: fixed;
  outline: none;
  min-width: 16vw;
  min-height: 4vw;
  bottom: 10vh;
  z-index: 10001;
  background: transparent;
  border: 2px solid #11DBD9;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 0.5em 1em;
  transition: 1s;
}
.game-loader__btn:hover {
  background: #11DBD9;
}

.game-loader__planet {
  filter: url("#goo");
  position: relative;
  width: 100vw;
  height: 100vw;
}
.game-loader__planet::after {
  content: '';
  display: block;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background: #11DBD9;
  box-shadow: #11DBD9 0 0 24px 4px;
  margin: 0 auto;
  position: absolute;
  top: 46vw;
  left: 46vw;
  animation: scale 16s linear infinite, color5 8s linear 1;
}
.game-loader__planet .loader-mini1 {
  position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background: #11DBD9;
  top: 48.5vw;
  left: 48.5vw;
  font-family: Bungee, cursive;
  text-align:center;
  line-height: 45px;
}

.game-loader__planet .loader-mini1.out{
    animation: move1out 4s linear 1 forwards;
}
.game-loader__planet .loader-mini1.rotate{
    animation: move1rotate 8s linear infinite forwards;
}
.game-loader__planet .loader-mini1.back{
    animation: move1back 16s linear 1 forwards;
}
.game-loader__planet .loader-mini1.completed{
    animation: move1 20s linear 1, color1 20s linear 1;
}

.game-loader__planet .loader-mini2 {
  position: absolute;
  width: 3.6vw;
  height: 3.6vw;
  border-radius: 50%;
  background: #11DBD9;
  top: 48.5vw;
  left: 48.5vw;
  font-family: Bungee, cursive;
  text-align:center;
  line-height: 55px;
}

.game-loader__planet .loader-mini2.out{
    animation: move2out 6s linear 1 forwards;
}
.game-loader__planet .loader-mini2.rotate{
    animation: move2rotate 10s linear infinite forwards;
}
.game-loader__planet .loader-mini2.back{
    animation: move2back 17s linear 1 forwards;
}
.game-loader__planet .loader-mini2.completed{
    animation: move2 23s linear 1, color2 23s linear 1;
}

.game-loader__planet .loader-mini3 {
  position: absolute;
  width: 4.2vw;
  height: 4.2vw;
  border-radius: 50%;
  background: #11DBD9;
  top: 48.5vw;
  left: 48.5vw;
  font-family: Bungee, cursive;
  text-align:center;
  line-height: 62px;
}
.game-loader__planet .loader-mini3.out{
    animation: move3out 7s linear 1 forwards;
}
.game-loader__planet .loader-mini3.rotate{
    animation: move3rotate 12s linear infinite forwards;
}
.game-loader__planet .loader-mini3.back{
    animation: move3back 18s linear 1 forwards;
}
.game-loader__planet .loader-mini3.completed{
    animation: move3 25s linear 1, color3 25s linear 1;
}

.game-loader__planet .loader-mini4 {
  position: absolute;
  width: 4.8vw;
  height: 4.8vw;
  border-radius: 50%;
  background: #11DBD9;
  top: 48.5vw;
  left: 48.5vw;
  font-family: Bungee, cursive;
  text-align:center;
  line-height: 68px;
}

.game-loader__planet .loader-mini4.out{
    animation: move4out 8s linear 1 forwards;
}
.game-loader__planet .loader-mini4.rotate{
    animation: move4rotate 14s linear infinite forwards;
}
.game-loader__planet .loader-mini4.back{
    animation: move4back 20s linear 1 forwards;
}
.game-loader__planet .loader-mini4.completed{
    animation: move4 28s linear 1, color4 28s linear 1;
}

.game-loader__planet .loader-radius1 {
  position: absolute;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  border: 0.5px solid #11DBD9;
  opacity: 0.2;
  background: transparent;
  top: 44vw;
  left: 44vw;
  transform: scale(0);
}

.game-loader__planet .loader-radius1.out{
  animation: orbitout 8s linear 1 forwards;
}
.game-loader__planet .loader-radius1.back{
  animation: orbitback 18s linear 1 forwards;
}
.game-loader__planet .loader-radius1.completed{
  animation: orbit1 20s linear 1 forwards;
}

.game-loader__planet .loader-radius2 {
  position: absolute;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  border: 0.5px solid #11DBD9;
  opacity: 0.2;
  background: transparent;
  transform: scale(0);
  top: 41vw;
  left: 41vw;
}

.game-loader__planet .loader-radius2.out{
  animation: orbitout 10s linear 1 forwards;
}
.game-loader__planet .loader-radius2.back{
  animation: orbitback 19s linear 1 forwards;
}
.game-loader__planet .loader-radius2.completed{
  animation: orbit2 23s linear 1 forwards;
}

.game-loader__planet .loader-radius3 {
  position: absolute;
  width: 24vw;
  height: 24vw;
  border-radius: 50%;
  border: 0.5px solid #11DBD9;
  opacity: 0.2;
  background: transparent;
  transform: scale(0);
  top: 38vw;
  left: 38vw;
}

.game-loader__planet .loader-radius3.out {
  animation: orbitout 12s linear 1 forwards;
}
.game-loader__planet .loader-radius3.back {
  animation: orbitback 20s linear 1 forwards;
}
.game-loader__planet .loader-radius3.completed{
  animation: orbit3 25s linear 1 forwards;
}

.game-loader__planet .loader-radius4 {
  position: absolute;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  border: 0.5px solid #11DBD9;
  opacity: 0.2;
  background: transparent;
  transform: scale(0);
  top: 35vw;
  left: 35vw;
}
.game-loader__planet .loader-radius4.out {
  animation: orbitout 14s linear 1 forwards;
}
.game-loader__planet .loader-radius4.back {
  animation: orbitback 22s linear 1 forwards;
}
.game-loader__planet .loader-radius4.completed{
  animation: orbit4 28s linear 1 forwards;
}


.game-loader__planet--color .loader-mini1 {
  background: #0fc3c2;
}
.game-loader__planet--color .loader-mini2 {
  background: #0dacaa;
}
.game-loader__planet--color .loader-mini3 {
  background: #0b9493;
}
.game-loader__planet--color .loader-mini4 {
  background: #0a7c7b;
}

.btn-play {
  left: 41vw;
}

@keyframes move1out {
  0% {
    transform: skewX(5deg) rotate(0deg) translateY(0em) rotate(0deg) skewX(-5deg) rotate(0deg);
  }
  50% {
    transform: skewX(5deg) rotate(180deg) translateY(-6vw) rotate(-180deg) skewX(-5deg) rotate(180deg);
  }
  100% {
    transform: skewX(5deg) rotate(360deg) translateY(-12vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
}

@keyframes move1rotate{
  0% {
    transform: skewX(5deg) rotate(360deg) translateY(-12vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
  50% {
    transform: skewX(5deg) rotate(720deg) translateY(-12vw) rotate(-720deg) skewX(-5deg) rotate(720deg);
  }
  100% {
    transform: skewX(5deg) rotate(1080deg) translateY(-12vw) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
  }
}

@keyframes move1back{
  0% {
    transform: skewX(5deg) rotate(360deg) translateY(-12vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
  30% {
    transform: skewX(5deg) rotate(720deg) translateY(-12vw) rotate(-720deg) skewX(-5deg) rotate(720deg);
  }
  60% {
    transform: skewX(5deg) rotate(1080deg) translateY(-12vw) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
  }
  80% {
    transform: skewX(5deg) rotate(1260deg) translateY(-6vw) rotate(-1260deg) skewX(-5deg) rotate(1260deg);
  }
  100% {
    transform: skewX(5deg) rotate(1440deg) translateY(0em) rotate(-1440deg) skewX(-5deg) rotate(1440deg);
  }
}


@keyframes move2out {
  0% {
    transform: skewX(5deg) rotate(0deg) translateY(0em) rotate(0deg) skewX(-5deg) rotate(0deg);
  }
  50% {
    transform: skewX(5deg) rotate(180deg) translateY(-9vw) rotate(-180deg) skewX(-5deg) rotate(180deg);
  }
  100% {
    transform: skewX(5deg) rotate(360deg) translateY(-18vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
}

@keyframes move2rotate{
  0% {
    transform: skewX(5deg) rotate(360deg) translateY(-18vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
  50% {
    transform: skewX(5deg) rotate(720deg) translateY(-18vw) rotate(-720deg) skewX(-5deg) rotate(720deg);
  }
  100% {
    transform: skewX(5deg) rotate(1080deg) translateY(-18vw) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
  }
}

@keyframes move2back{
  0% {
    transform: skewX(5deg) rotate(360deg) translateY(-18vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
  30% {
    transform: skewX(5deg) rotate(720deg) translateY(-18vw) rotate(-720deg) skewX(-5deg) rotate(720deg);
  }
  60% {
    transform: skewX(5deg) rotate(1080deg) translateY(-18vw) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
  }
  80% {
    transform: skewX(5deg) rotate(1260deg) translateY(-9vw) rotate(-1260deg) skewX(-5deg) rotate(1260deg);
  }
  100% {
    transform: skewX(5deg) rotate(1440deg) translateY(0em) rotate(-1440deg) skewX(-5deg) rotate(1440deg);
  }
}

@keyframes move3out {
  0% {
    transform: skewX(5deg) rotate(0deg) translateY(0em) rotate(0deg) skewX(-5deg) rotate(0deg);
  }
  50% {
    transform: skewX(5deg) rotate(180deg) translateY(-12vw) rotate(-180deg) skewX(-5deg) rotate(180deg);
  }
  100% {
    transform: skewX(5deg) rotate(360deg) translateY(-24vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
}

@keyframes move3rotate{
  0% {
    transform: skewX(5deg) rotate(360deg) translateY(-24vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
  50% {
    transform: skewX(5deg) rotate(720deg) translateY(-24vw) rotate(-720deg) skewX(-5deg) rotate(720deg);
  }
  100% {
    transform: skewX(5deg) rotate(1080deg) translateY(-24vw) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
  }
}

@keyframes move3back{
  0% {
    transform: skewX(5deg) rotate(360deg) translateY(-24vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
  30% {
    transform: skewX(5deg) rotate(720deg) translateY(-24vw) rotate(-720deg) skewX(-5deg) rotate(720deg);
  }
  60% {
    transform: skewX(5deg) rotate(1080deg) translateY(-24vw) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
  }
  80% {
    transform: skewX(5deg) rotate(1260deg) translateY(-12vw) rotate(-1260deg) skewX(-5deg) rotate(1260deg);
  }
  100% {
    transform: skewX(5deg) rotate(1440deg) translateY(0em) rotate(-1440deg) skewX(-5deg) rotate(1440deg);
  }
}


@keyframes move4out {
  0% {
    transform: skewX(5deg) rotate(0deg) translateY(0em) rotate(0deg) skewX(-5deg) rotate(0deg);
  }
  50% {
    transform: skewX(5deg) rotate(180deg) translateY(-15vw) rotate(-180deg) skewX(-5deg) rotate(180deg);
  }
  100% {
    transform: skewX(5deg) rotate(360deg) translateY(-30vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
}

@keyframes move4rotate{
  0% {
    transform: skewX(5deg) rotate(360deg) translateY(-30vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
  50% {
     transform: skewX(5deg) rotate(720deg) translateY(-30vw) rotate(-720deg) skewX(-5deg) rotate(720deg);
  }
  100% {
    transform: skewX(5deg) rotate(1080deg) translateY(-30vw) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
  }
}

@keyframes move4back{
  0% {
    transform: skewX(5deg) rotate(360deg) translateY(-30vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
  30% {
     transform: skewX(5deg) rotate(720deg) translateY(-30vw) rotate(-720deg) skewX(-5deg) rotate(720deg);
  }
  60% {
    transform: skewX(5deg) rotate(1080deg) translateY(-30vw) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
  }
  80% {
    transform: skewX(5deg) rotate(1260deg) translateY(-15vw) rotate(-1260deg) skewX(-5deg) rotate(1260deg);
  }
  100% {
    transform: skewX(5deg) rotate(1440deg) translateY(0em) rotate(-1440deg) skewX(-5deg) rotate(1440deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes orbitout{
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(2);
  }
  75% {
    transform: scale(2.2);
  }
  80% {
    transform: scale(2.1);
  }
  96% {
    transform: scale(2);
  }
  98% {
    transform: scale(2.1);
  }
  100% {
    transform: scale(2);
  }
}

@keyframes orbitback{
  0% {
    transform: scale(2);
  }
  5% {
    transform: scale(2.2);
  }
  10% {
    transform: scale(2);
  }
  12% {
    transform: scale(2.1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(0);
  }
}


.game-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

svg {
  position: absolute;
  z-index: -100;
}

@keyframes move1 {
  0% {
    transform: skewX(5deg) rotate(0deg) translateY(0em) rotate(0deg) skewX(-5deg) rotate(0deg);
  }
  10% {
    transform: skewX(5deg) rotate(180deg) translateY(-6vw) rotate(-180deg) skewX(-5deg) rotate(180deg);
  }
  25% {
    transform: skewX(5deg) rotate(360deg) translateY(-12vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
  50% {
    transform: skewX(5deg) rotate(720deg) translateY(-12vw) rotate(-720deg) skewX(-5deg) rotate(720deg);
  }
  75% {
    transform: skewX(5deg) rotate(1080deg) translateY(-12vw) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
  }
  90% {
    transform: skewX(5deg) rotate(1260deg) translateY(-6vw) rotate(-1260deg) skewX(-5deg) rotate(1260deg);
  }
  100% {
    transform: skewX(5deg) rotate(1440deg) translateY(0em) rotate(-1440deg) skewX(-5deg) rotate(1440deg);
  }
}
@keyframes move2 {
  0% {
    transform: skewX(5deg) rotate(0deg) translateY(0em) rotate(0deg) skewX(-5deg) rotate(0deg);
  }
  10% {
    transform: skewX(5deg) rotate(180deg) translateY(-9vw) rotate(-180deg) skewX(-5deg) rotate(180deg);
  }
  25% {
    transform: skewX(5deg) rotate(360deg) translateY(-18vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
  50% {
    transform: skewX(5deg) rotate(720deg) translateY(-18vw) rotate(-720deg) skewX(-5deg) rotate(720deg);
  }
  75% {
    transform: skewX(5deg) rotate(1080deg) translateY(-18vw) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
  }
  90% {
    transform: skewX(5deg) rotate(1260deg) translateY(-9vw) rotate(-1260deg) skewX(-5deg) rotate(1260deg);
  }
  100% {
    transform: skewX(5deg) rotate(1440deg) translateY(0em) rotate(-1440deg) skewX(-5deg) rotate(1440deg);
  }
}
@keyframes move3 {
  0% {
    transform: skewX(5deg) rotate(0deg) translateY(0em) rotate(0deg) skewX(-5deg) rotate(0deg);
  }
  10% {
    transform: skewX(5deg) rotate(180deg) translateY(-12vw) rotate(-180deg) skewX(-5deg) rotate(180deg);
  }
  25% {
    transform: skewX(5deg) rotate(360deg) translateY(-24vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
  50% {
    transform: skewX(5deg) rotate(720deg) translateY(-24vw) rotate(-720deg) skewX(-5deg) rotate(720deg);
  }
  75% {
    transform: skewX(5deg) rotate(1080deg) translateY(-24vw) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
  }
  90% {
    transform: skewX(5deg) rotate(1260deg) translateY(-12vw) rotate(-1260deg) skewX(-5deg) rotate(1260deg);
  }
  100% {
    transform: skewX(5deg) rotate(1440deg) translateY(0em) rotate(-1440deg) skewX(-5deg) rotate(1440deg);
  }
}
@keyframes move4 {
  0% {
    transform: skewX(5deg) rotate(0deg) translateY(0em) rotate(0deg) skewX(-5deg) rotate(0deg);
  }
  10% {
    transform: skewX(5deg) rotate(180deg) translateY(-15vw) rotate(-180deg) skewX(-5deg) rotate(180deg);
  }
  25% {
    transform: skewX(5deg) rotate(360deg) translateY(-30vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
  50% {
    transform: skewX(5deg) rotate(720deg) translateY(-30vw) rotate(-720deg) skewX(-5deg) rotate(720deg);
  }
  75% {
    transform: skewX(5deg) rotate(1080deg) translateY(-30vw) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
  }
  90% {
    transform: skewX(5deg) rotate(1260deg) translateY(-15vw) rotate(-1260deg) skewX(-5deg) rotate(1260deg);
  }
  100% {
    transform: skewX(5deg) rotate(1440deg) translateY(0em) rotate(-1440deg) skewX(-5deg) rotate(1440deg);
  }
}
@keyframes orbit1 {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  25% {
    transform: scale(2.2);
  }
  35% {
    transform: scale(2.1);
  }
  50% {
    transform: scale(2);
  }
  65% {
    transform: scale(2.1);
  }
  75% {
    transform: scale(2);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes orbit2 {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  25% {
    transform: scale(2.2);
  }
  35% {
    transform: scale(2.1);
  }
  50% {
    transform: scale(2);
  }
  65% {
    transform: scale(2.1);
  }
  75% {
    transform: scale(2);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes orbit3 {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  25% {
    transform: scale(2.2);
  }
  35% {
    transform: scale(2.1);
  }
  50% {
    transform: scale(2);
  }
  65% {
    transform: scale(2.1);
  }
  75% {
    transform: scale(2);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes orbit4 {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  25% {
    transform: scale(2.2);
  }
  35% {
    transform: scale(2.1);
  }
  50% {
    transform: scale(2);
  }
  65% {
    transform: scale(2.1);
  }
  75% {
    transform: scale(2);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes color1 {
  10% {
    background: #11DBD9;
  }
  50% {
    background: #FF217B;
  }
  90% {
    background: #11DBD9;
  }
}

@keyframes color2 {
  10% {
    background: #11DBD9;
  }
  50% {
    background: #FF7878;
  }
  90% {
    background: #11DBD9;
  }
}

@keyframes color3 {
  10% {
    background: #11DBD9;
  }
  50% {
    background: #FFA283;
  }
  90% {
    background: #11DBD9;
  }
}

@keyframes color4 {
  10% {
    background: #11DBD9;
  }
  50% {
    background: #962A4E;
  }
  90% {
    background: #11DBD9;
  }
}

@keyframes color5 {
  10% {
    background: #11DBD9;
    box-shadow: #11DBD9 0 0 24px 4px;
  }
  50% {
    background: #13C2D3;
    box-shadow: #13C2D3 0 0 24px 4px;
  }
  90% {
    background: #11DBD9;
    box-shadow: #11DBD9 0 0 24px 4px;
  }
}