* {
margin: 0;
padding: 0;
overflow:hidden;
font-family:sans-serif;
}

body {
background:#2c3e50;
}

canvas {
  margin:0 auto;
  display:block;
}

.title{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
}

h1{
    font-family: 'Bungee', cursive;
    color: #4bed63;
    font-size: 10vw;
    -webkit-text-stroke: 5px black;
    text-align:center;
}

a{
    font-family: 'Bungee', cursive;
    color: #33d6f7;
    font-size: 5vw;
    -webkit-text-stroke: 3px black;
    text-align:center;
    text-decoration: none;
}